@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BasierCircle';
  src: url('./assets/fonts/BasierCircle-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  color: rgba(0, 0, 0, 1);
  background: #ffffff;
  margin: 0;
  font-family: 'BasierCircle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



